.dashboard {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  background-color: #fff;

  background: transparent;

  position: relative;
  &__medication {
    &-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-wrap: wrap;

      &-img {
        flex: 0 0 10%;
      }

      &-paragraph {
        flex: 1;
        font-size: 2vw;
        flex: 0 0 30%;
      }
    }
  }

  &__documents {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10rem;
  }
  &__appointments {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &__symptoms {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10rem;
  }
}
