.symptoms-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 20%;

  &__list {
    list-style: none;

    display: flex;

    &-item {
      &-C {
        display: flex;
    background-image: linear-gradient(to right bottom,grey, white);

        justify-content: flex-start;
        align-items: center;
        border: 1px solid black;
        border-radius: 10rem;
        overflow: hidden;
        padding: 1.5rem;
        flex-wrap: wrap;
        color: black;

        &-img {
          width: 20%;
          display: inline-block;
        }
        &-name {
          font-weight: bold;
          font-size: 1.25rem;
        }
      }
    }
  }

}

