.symptoms-card {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 30%;
  justify-content: center;


  &__list {
    list-style: none;
    display: flex;

    &-item {
      display: flex;

      flex-wrap: wrap;

      &-C {
        display: flex;

        flex-wrap: wrap;

        max-width: 6rem;
        justify-content: center;

        &-img {
          width: 100%;
          display: block;
        }
        &-name {
        }
      }
    }
  }
}
